[[source]]
url = "https://pypi.doubanio.com/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
playwright = "*"

[dev-packages]

[requires]
python_version = "3.12"
